* {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: 'Red Rose', cursive;
}

:root {
    --purple-text: #81115e;
    --gray-text: #434343;
}

.bold {
    font-weight: 700;
}

.purple {
    color: var(--purple-text);
}

nav, nav > ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    padding: 1.5rem 3rem;
}

.nav-links > li, .link {
    list-style: none;
    color: #434343;
}

.nav-links {
    gap: 3rem;
}

.button {
    background-color: var(--purple-text);
    color: #ffffff;
    width: 8rem;
    border: 0;
    padding: 0.6rem;
    border-radius: 0.6rem;
}

.button:hover {
    cursor: pointer;
}

.hamburger--menu {
    display: none;
}

.home--hero {
    display: flex;
    padding: 10rem 3rem 0 3rem;
}

.home--hero_text {
    padding-right: 5rem;
    margin-top: 2rem;
}

.home--hero_text > h1 {
    font-size: 56px;
}

.home--hero_text > p {
    font-size: 24px;
    color: var(--gray-text);
    margin-top: 2rem;
}

.home--hero_searchbox {
    margin-top: 2.5rem;
    padding: 0.85rem;
    border-radius: 0.5rem 0 0 0.5rem;
    width: 22rem;
    border: 1px solid black;
}

.searchbox {
    width: 12rem;
    border-radius: 0 0.6rem 0.6rem 0;
    padding: 0.9rem;
}

.home--hero_footer {
   background-color: var(--purple-text);
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 5rem;
   margin-top: 2rem;
}

.card {
    width: 18rem;
    border: 1px solid #D7D7D7;
    margin: 10px;
    text-align: center;
    padding: 1rem 0.5rem;
    border-radius: 15px;
}

.card--star {
    display: flex;
    margin: 0 0.5rem;
}

.star {
    margin-right: 5px;
}

.card--text_title, .card--text_details {
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    margin: 0.5rem 0.5rem;
}

.card--grid {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0;
    justify-content: center;
}

.card--header {
    margin: 2rem;
    text-align: center;
}

.meta-section {
    background-color: var(--purple-text);
    display: flex;
    gap: 5rem;
    align-items: center;
    padding: 4rem 3rem;
    color: #ffffff;
}

.button-nfts {
    background-color: #ffffff;
    color: var(--purple-text);
}

.meta-section--text {
    width: 30rem;
}

.meta-section--text > h1 {
    font-size: 48px;
}

.meta-section--text > p {
    margin: 2rem 0;
    line-height: 1.5;
}

footer {
    background-color: #1D1D1E;
    display: flex;
    padding: 3rem 10rem 2rem 3rem;
    color: #ffffff;
    gap: 10rem;
}

.footer--links {
    display: flex;
    gap: 10rem;
}


.footer--socials {
    margin: 4rem 0 3rem 0;
}

.footer--socials > img {
    margin-right: 2.2rem;
}

.footer--title {
    margin-bottom: 1rem;
}

.footer--community > a, .footer--places > a, .footer--about > a{
    color: #ffffff;
    display: block;
    margin-bottom: 0.5rem;
}

.place--hide_nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10rem 0 4rem 0;
}

.place--second_nav > ul {
    display: flex;
    list-style: none;
    gap: 4rem;
    justify-content: flex-start;
}

.place--location_btn {
    background-color: transparent;
    border: 1px solid #B4B4B4;
    border-radius: 8px;
    width: 10rem;
    padding: 0.5rem;
    background-image: url('./images/setting-5.png');
    background-repeat: no-repeat;
    background-position: 95%;
}

.main--modal {
    background-color: rgba(64, 64, 64, 0.3);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}

.main--modal.show {
    opacity: 1;
    pointer-events: visible;
}

.modal {
    width: 300px;
    border: 1px solid #B4B4B4;
    position: relative;
    border-radius: 16px;
    background-color: #ffffff;
    transform: translateY(-200px);
    transition: all 0.3s ease-in-out;
}

.main--modal.show .modal {
    transform: translateX(0);
}

.modal--header, .modal--text, .modal--group_buttons {
    margin: 1rem;
}

.modal--button {
    display: flex;
    width: 100%;
    gap: 8px;
    align-items: center;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid #B4B4B4;
    background-image: url('./images/Down\ Chevron.png');
    background-repeat: no-repeat;
    background-position: 97%;
}

.modal--button:hover {
    cursor: pointer;
    background-color: var(--purple-text);
}

.modal--close_icon {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.modal--close_icon:hover {
    cursor: pointer;
}

.place--option_bar {
    display: none;
}

@media screen and (max-width: 1230px) and (min-width: 1024px) {
    .home--hero_searchbox {
        width: 13rem;
    }

    .searchbox {
        width: 10rem;
    }

    .home--hero_text {
        padding-top: 1rem;
    }

    .home--hero_text > h1 {
        font-size: 43px;
    }

    .home--hero_text > p {
        font-size: 18px;
    }

    .meta-section--photo {
        width: 500px;
    }

    .place--second_nav > ul {
        gap: 2rem;
    }

    footer, .footer--links {
        gap: 6rem;
    }

    .place--option_bar {
        display: none;
    }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
   .logo {
    width: 30%;
   }

   nav {
    padding-left: 2rem;
    padding-right: 2rem;
   }

   .nav-links {
    gap: 1.5rem;
   }
   
    .home--hero {
    flex-direction: column;
    padding-right: 0;
    justify-content: center;
    padding-top: 8rem;
   }

    .home--hero_img_div {
        display: flex;
        justify-content: right;
        margin: 2rem 3rem;
    }

    .home--hero_img {
        width: 500px;
    }

    .home--hero_footer > img {
        width: 30%;
    }

    .meta-section--photo {
        width: 320px;
    }

    .meta-section--text > h1 {
        font-size: 40px;
    }

    footer {
        padding-right: 3rem;
        gap: 5rem;
    }

    .footer--links {
        gap: 2rem;
    }

    .place--second_nav > ul {
        gap: 1.5rem;
        font-size: 13px;
    }

    .place--option_bar {
        display: none;
    }
}

@media screen and (max-width: 767px) and (min-width: 481px) {
    .hamburger--menu {
        display: flex;
        align-items: center;
        padding: 2rem 3rem;
        justify-content: space-between;
    }    

    .hamburger {
        background-color: var(--purple-text);
        width: 30%;
        position: fixed;
        left: 70%;
        top: 0;
        height: 100vh;
    }

    .ham--content {
        padding: 1rem;
    }

    .ham--links {
        margin-top: 25vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3vh;
    }

    .link {
        color: #ffffff;
    }

    .hamburger li {
        list-style: none;
    }
    
    nav {
        display: none;
    }

    .menu-icon, .close-icon {
        width: 3rem;
    }

    .button {
        background-color: #ffffff;
        color: var(--purple-text);
        margin-top: 1rem;
    }

    .home--hero {
        flex-direction: column;
        padding-top: 3rem;
    }

    .home--hero_text {
        padding-right: 0;
    }

    .home--hero_img_div {
        margin-top: 2rem;
        display: flex;
        justify-content: right;
    }

    .home--hero_img {
        width: 300px;
    }

    .home--hero_footer > img {
        width: 25%;
    }

    .home--hero_searchbox {
        width: 11rem;
    }

    .searchbox {
        background-color: var(--purple-text);
        color: #ffffff;
        margin-top: 0;
    }
    
    .meta-section {
        flex-direction: column;
        gap: 2rem;
    }

    .meta-section--photo {
        width: 70%;
    }

    footer {
        flex-direction: column-reverse;
        padding-right: 0;
        gap: 2rem;
    }

    .footer--links {
        gap: 3rem;
    }

    .footer--socials {
        margin: 2rem 0;
    }

    .place--second_nav {
        display: none;
    }

    .place--hide_nav {
        padding: 0;
        gap: 0;
    }


    .place--option_bar {
        display: block;
        width: 12rem;
        padding: 0.5rem 2rem;
        border-radius: 10px;
    }
}

@media screen and (max-width: 480px) and (min-width: 280px) {
    .logo {
        width: 70%;
    }
    
    .hamburger--menu {
        display: flex;
        align-items: center;
        padding: 2rem 1rem;
        gap: 1rem;
        justify-content: space-between;
    }    

    .hamburger {
        background-color: var(--purple-text);
        width: 70%;
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
    }

    .ham--content {
        padding: 1rem;
    }

    .ham--links {
        margin-top: 25vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3vh;
    }

    .link {
        color: #ffffff;
    }

    .hamburger li {
        list-style: none;
    }
    
    nav {
        display: none;
    }

    .menu-icon, .close-icon {
        width: 2rem;
    }

    .button {
        background-color: #ffffff;
        color: var(--purple-text);
        margin-top: 1rem;
    }

    .home--hero {
        flex-direction: column;
        padding: 1rem ;
    }

    .home--hero_text {
        padding-right: 0;
    }

    .home--hero_text > h1 {
        font-size: 40px;
    }

    .home--hero_text > p {
        font-size: 18px;
    }

    .home--hero_img_div {
        margin-top: 2rem;
        display: flex;
        justify-content: right;
    }

    .home--hero_img {
        width: 300px;
    }

    .home--hero_footer {
        padding: 5px;
    }

    .home--hero_footer > img {
        width: 30%;
    }

    .home--hero_searchbox {
        width: 11rem;
    }

    .searchbox {
        background-color: var(--purple-text);
        color: #ffffff;
        margin-top: 0;
        width: 5rem;
        
    }
    
    .meta-section {
        flex-direction: column;
        gap: 2rem;
        padding: 2rem;
    }

    .meta-section--text {
        width: fit-content;
    }

    .meta-section--photo {
        width: 100%;
    }

    footer {
        flex-direction: column-reverse;
        padding-right: 0;
        gap: 2rem;
    }

    .footer--links {
        gap: 3rem;
        flex-wrap: wrap;
    }

    .footer--socials {
        margin: 2rem 0;
    } 

    .place--second_nav {
        display: none;
    }

    .place--hide_nav {
        padding: 5px;
        gap: 5px;
        flex-wrap: wrap;
    }

    .place--option_bar {
        display: block;
        width: 10rem;
        padding: 0.5rem 2rem;
        border-radius: 10px;
    }

}