* {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: 'Red Rose', cursive;
}

:root {
    --purple-text: #81115e;
    --gray-text: #434343;
}

.purple {
    color: var(--purple-text);
}

nav, nav > ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    padding: 1.5rem 3rem;
}

.nav-links > li, .link {
    list-style: none;
    color: #434343;
}

.nav-links {
    gap: 3rem;
}

.button {
    background-color: var(--purple-text);
    color: #ffffff;
    width: 8rem;
    border: 0;
    padding: 0.6rem;
    border-radius: 0.6rem;
}

.home--hero {
    display: flex;
    padding: 10rem 3rem 0 3rem;
}

.home--hero_text {
    padding-right: 5rem;
    margin-top: 2rem;
}

.home--hero_text > h1 {
    font-size: 56px;
}

.home--hero_text > p {
    font-size: 24px;
    color: var(--gray-text);
    margin-top: 2rem;
}

.home--hero_searchbox {
    margin-top: 2.5rem;
    padding: 0.85rem;
    border-radius: 0.5rem 0 0 0.5rem;
    width: 22rem;
    border: 1px solid black;
}

.searchbox {
    width: 12rem;
    border-radius: 0 0.6rem 0.6rem 0;
    padding: 0.9rem;
}

.home--hero_footer {
   background-color: var(--purple-text);
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 5rem;
   margin-top: 2rem;
}

.card {
    width: 18rem;
    border: 1px solid #D7D7D7;
    margin: 10px;
    text-align: center;
    padding: 1rem 0.5rem;
    border-radius: 15px;
}

.card--star {
    display: flex;
    margin: 0 0.5rem;
}

.star {
    margin-right: 5px;
}

.card--text_title, .card--text_details {
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    margin: 0.5rem 0.5rem;
}

.card--grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    /* max-width: 60rem; */
    margin: 2rem 0;
    justify-content: center;
}

.meta-section {
    background-color: var(--purple-text);
    display: flex;
    gap: 5rem;
    align-items: center;
    padding: 4rem 3rem;
    color: #ffffff;
}

.button-nfts {
    background-color: #ffffff;
    color: var(--purple-text);
}

.meta-section--text {
    width: 30rem;
}

.meta-section--text > h1 {
    font-size: 48px;
}

.meta-section--text > p {
    margin: 2rem 0;
    line-height: 1.5;
}

footer {
    background-color: #1D1D1E;
    display: flex;
    padding: 3rem 10rem 2rem 3rem;
    justify-content: space-between;
    color: #ffffff;
}

.footer--socials {
    margin: 4rem 0 3rem 0;
}

.footer--socials > img {
    margin-right: 2.2rem;
}

.footer--title {
    margin-bottom: 1rem;
}

.footer--community > a, .footer--places > a, .footer--about > a{
    color: #ffffff;
    display: block;
    margin-bottom: 0.5rem;
}

.place--second_nav {
    display: flex;
    padding: 10rem  3rem 4rem 3rem;
    align-items: center;
    justify-content: space-evenly;
}

.place--second_nav > ul {
    display: flex;
    list-style: none;
    gap: 4rem;
    justify-content: flex-start;
}

.place--location_btn {
    background-color: transparent;
    border: 1px solid #B4B4B4;
    border-radius: 8px;
    width: 10rem;
    padding: 0.5rem;
    background-image: url('./images/setting-5.png');
    background-repeat: no-repeat;
    background-position: 95%;
}

@media screen and (max-width: 1200px) and (min-width: 1024px) {
    .home--hero_searchbox {
        width: 15rem;
    }

    .searchbox {
        width: 10rem;
    }

    .home--hero_text {
        padding-top: 1rem;
    }

    .meta-section--photo {
        width: 500px;
    }

    .place--second_nav > ul {
        gap: 2rem;
    }
}

@media screen and (max-width: 1130px) and (min-width: 1024px) {
    .home--hero_text > h1 {
        font-size: 45px;
    }

    .home--hero_text > p {
        font-size: 20px;
    }

    .home--hero_img {
        width: 400px;
    }

}